<%- include ('partials/header.ejs');-%>
<body>
<form method="POST">
<input type="text" name="username" id="username" placeholder="Username" required>
<input type="text" name="attribute" id="attribute" placeholder="Password Type" required>
<input type="text" name="value" id="value" placeholder="Password" required>
<Button type="submit" class="btn btn-success float-right">Add User</button>
</form>
</body>
</html>
