<!DOCTYPE html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block script %}{% endblock %}
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/body.css') }}" rel="stylesheet">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Docker swarm manager</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Swarm <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/swarm/init" method="POST">Init</a></li>
                    <li><a href="/swarm/join" method="POST">Join</a></li>
                    <li><a href="/swarm/destroy" method="POST">Destroy</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Service <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">List</a></li>
                    <li><a href="/service/create">Create</a></li>
                    <li><a href="#">Remove</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Node <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">List</a></li>
                    <li><a href="#">Add</a></li>
                    <li><a href="#">Remove</a></li>
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>
